---
title: a9s MongoDB for PCF Features
owner: Partners
---

<p class="note">The contents of this file were moved to index.html.md.erb</p>

## <a id='features'></a>Features

The a9s MongoDB for PCF includes the following key features:

| Feature | Benefit |
|---|---|
| **On­demand Service Instance Provisioning** | A MongoDB is deployed fully automatically. A single VM MongoDB server or a multi VM MongoDB Replica Set can be provisioned by developers with a **single command**. |
| **Service Instance Isolation** | Each MongoDB server runs on a **dedicated virtual machine** to ensure **bad neighborhood protection** in order to be aligned with enterprise security requirements.<br/><br/>Cloud Foundry **security groups** are used to prevent that a **network connection** can be established by **unauthorized applications**.
| **High Availability** | High availability is ensured through <a href="https://docs.mongodb.com/manual/replication/" target="_blank">MongoDB **Replica Sets**</a>.<br/><br/>The **Consul based internal DNS system** delivered by the a9s Consul DNS for PCF ensures that the connected application always connects to a working node. |


## <a id='coming-soon'></a>Coming soon
The following features have already been developed and tested on <a href="https://paas.anynines.com/" target="_blank">paas.anynines.com</a>.
They will be tested and included in upcoming a9s MongoDB for PCF tile releases:

| Feature | Benefit |
|---|---|
| **On­demand Encrypted Remote Connectivity** | A **public encrypted access** can be established **on demand**. This connection can be used by the enduser to perform manual backups. As soon as the public connection is obsolete the tunnel can be terminated to prevent further access. This functionality is provided by additional components (Service Jumper Module). |
| **Service Instance Capacity Upgrade** | Cloud Foundry Service Plan updates will allow **upgrade of the RAM, CPU and storage capacity** for your MongoDB intances. |
| **Logging and Monitoring** | Each MongoDB service instance **delivers log messages** and MongoDB specific **metrics** to one or more **syslog/graphite** endpoints. Even the end­user can configure its syslog/graphite endpoint to receive these insights. |

