---
title: a9s MongoDB for PCF
owner: Partners
---

<p>
<iframe src="http://www.youtube.com/embed/xuCn8ux2gbs"
width="656" height="372" frameborder="0" allowfullscreen></iframe>
</p>

This documentation describes the a9s MongoDB for Pivotal Cloud Foundry (PCF) tile. a9s MongoDB for PCF
enables on-demand provisioning of VM-based, dedicated MongoDB servers and clusters. Developers can
create instances of a MongoDB server or cluster using Apps Manager or the Cloud Foundry Command Line
interface (cf CLI) and bind these instances to an application.
Depending on your service plan, a service instance may be associated with a single, dedicated virtual machine 
or a set of VMs consisting of multiple virtual machines containing a MongoDB replica set cluster.

<%= image_tag("a9s-mongodb-tile.png") %>

## <a id='overview'></a>Overview

When you run the cf CLI ```create-service a9s-mongodb``` command,
PCF creates dedicated virtual machines for this service instance. This allows
the best possible bad neighborhood protection.

MongoDB service instance provisioning, including virtual machine orchestration, is entirely automated.
This enables service instances to be highly isolated and shielded by infrastructure virtualization
mechanisms.

Due to the on-demand provisioning on virtual machines, only existing service
instances allocate infrastructure resources. These resources are released when service
instances are destroyed. Using on-demand provisioning the number of
service instances is not limited by design.

Distributed across multiple infrastructure availability zones,  clustered data
service plans enable short failover times and are resilient against
failures of individual infrastructure hosts or entire availability zones.

### <a></a>Current Features

The current version of a9s MongoDB for PCF includes the following key features:

| Feature | Benefit |
|---------|---------|
| **On­-Demand Service Instance Provisioning** | a9s MongoDB for PCF deploys MongoDB instances automatically. Developers can provision a single-VM MongoDB server or a multi-VM MongoDB Replica Set using a single command. |
| **Service Instance Isolation** | Each MongoDB server runs on a dedicated virtual machine to ensure bad neighborhood protection in order to be aligned with enterprise security requirements.<br/><br/>a9s MongoDB for PCF uses Cloud Foundry security groups to prevent network connections being established by unauthorized applications.
| **High Availability** | a9s MongoDB for PCF ensures high-availability using <a href="https://docs.mongodb.com/manual/replication/" target="_blank">MongoDB **Replica Sets**</a>.<br/><br/>The Consul-based internal DNS system provided by a9s Consul DNS for PCF ensures that the connected application always connects to a working node. |
| **Smoke Tests** | a9s MongoDB for PCF contains a post-deploy smoke tests errand that runs a series of basic test against your installation to ensure that it is configured properly. |
| **Service Instance Capacity Upgrade** | Cloud Foundry Service Plan updates allow upgrades to the RAM, CPU and storage capacity for your MongoDB instances. |
| **Logging and Monitoring** | Each MongoDB service instance provides log messages and MongoDB-specific metrics to one or more `syslog/graphite` endpoints. You can configure the `syslog/graphite` endpoint to receive logging and monitoring information. |
| **Deployment Updater** | This errand automatically updates the stemcell and all provisioned a9s MongoDB for PCF service instances to their lastest version. |

### <a></a>Upcoming Features
The following features have been developed and tested on <a href="https://paas.anynines.com/" target="_blank">paas.anynines.com</a>. These features will be included in an upcoming a9s MongoDB for PCF release:

| Feature | Benefit |
|---|---|
| **On­-Demand Encrypted Remote Connectivity** | A public encrypted access can be established on demand. This connection can be used to perform manual backups. As soon as the public connection becomes obsolete, the tunnel can be terminated to prevent further access. This functionality is provided by additional components in the Service Jumper Module. |


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about a9s MongoDB for PCF:

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.0.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 20, 2017</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.7.x, v1.8.x, v1.9.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.7.x, v1.8.x, v1.9.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

To install and use a9s MongoDB for PCF, you must install the following products and tiles:

* Elastic Runtime, v1.7 or later
* [a9s Consul DNS](https://network.pivotal.io/products/a9s-consul) for PCF, v1.0.0 or later
* [a9s BOSH](https://network.pivotal.io/products/a9s-bosh) for PCF, v1.0.0 or later

For more information, see [Installing and Configuring a9s MongoDB for PCF](./installing.html).

## <a id="feedback"></a>Feedback and Support

a9s MongoDB for PCF is an automation toolset for open source MongoDB. 
The entire anynines team can help your team  get started and be successful. 
Technical support, including a service level agreement, is available with a commercial license.

If your company has specific MongoDB administration policies or configuration best practises, 
the anynines team is happy to incorporate them, if applicable. 
Third-party MongoDB support organizations are also welcome to assist.

Contributions are welcome and will be investigated by the anynines team. 
Please send any bugs, feature requests, or questions to svc.support@anynines.com.

## <a id='license'></a>License

Contact our sales team to learn more about commercial licenses 
and support at <a href="http://data-services.anynines.com/sales" target="_blank">data-services.anynines.com/sales</a>.
