---
title: Name Resolving
owner: Partners
---

This topic describes the name resolving capabilities of a9s MongoDB for Pivotal Platform.

## <a id='name-resolving'></a> Name Resolving

There are two ways to obtain the IP address for service instance DNS name:

+ Use the Consul cluster which comes with the installation of a9s MongoDB
+ Use the a9s BOSH DNS which can be installed on each Diego cell

### <a id='name-resolving-with-consul'></a> Name Resolving with Consul

a9s MongoDB for Pivotal Platform comes with its own highly available Consul cluster for service
discovery and service failover procedures.

Consul is an HA service discovery and configuration tool, which includes features
such as failure detection, an HA key/value store, and an HA DNS service that you
can control through an HTTP-based REST interface.

To make use of this feature, talk to your company's nameserver administrator
to set up a delegation of a9s MongoDB hostnames.
The hostnames of these queries end with `a9s-mongodb-consul` by default
and must be delegated to the IP addresses of the Consul server within the a9s
MongoDB tile. To figure out the IP addresses check the status tab of the tile and
look for `a9s Consul Cluster`.

<%= image_tag("status_tab.png") %>

For general information about Consul, see [Consul by HashiCorp](https://www.consul.io/).

### <a id='name-resolving-with-a9s-bosh-dns-handler'></a> Name Resolving With a9s BOSH DNS Handler

The BOSH Director comes with a native DNS support.
The DNS release provides a way to delegate certain domains via the handlers property
to different DNS servers.

a9s MongoDB comes with the a9s BOSH DNS Handler.
The release creates a file which is used by BOSH DNS to add an additional BOSH
handler to the BOSH DNS configuration. See
[Additional Handlers](https://bosh.io/docs/dns/#additional-handlers).
The file is stored here: `/var/vcap/jobs/a9s-mongodb-bosh-dns-handler/dns/handlers.json`.
It follows the [handlers_files_glob](https://bosh.io/jobs/bosh-dns?source=github.com/cloudfoundry/bosh-dns-release#p=handlers).
The DNS Handler is only applied to the Diego cells where it is needed. It is applied
through a runtime configuration. The tile must be deployed before the feature can
be enabled, because it refers to an already installed a9s MongoDB for Pivotal Platform tile.

1. Import and stage a9s MongoDB for Pivotal Platform as described above.
   Confirm that `Enable BOSH DNS Handler` is disabled.
1. Apply the changes only for the a9s MongoDB for Pivotal Platform tile.
1. After the tile is deployed and the smoke-tests have run successfully,
   set `Enable BOSH DNS Handler` in the **Management Cluster** page to enabled.
1. Redeploy only the [PAS](https://pivotal.io/platform/pivotal-application-service)
   tile and the a9s MongoDB for Pivotal Platform tile again.

If the installation was successful, an app deployed on Pivotal Platform can resolve all a9s
MongoDB instances with its DNS name.
