---
title: a9s MongoDB for PCF Release Notes
owner: Partners
---

### v1.0.1

**Release Date:** April 20, 2017

* Added icon for Apps Manager.

### v1.0.0

**Release Date:** March 14, 2017

* Removed stemcell from tile to the a9s Bosh for PCF tile
* Remove restriction to have three AZs configured in the a9s Bosh for PCF

### v0.10.0

**Release Date:** January 13, 2017

* Service Instance Plan Upgrade
* Logging and Monitoring

### v0.9.2

**Release Date:** November 18, 2016

*  Added a smoke tests errand. See <a href="/partners/a9s-mongodb/installing.html#errands" target="_blank">the errands chapter</a> for more information.

### v0.9.1

**Release Date:** October 17, 2016

* Fixed a bug related to service deletion.

### v0.9.0

**Release Date:** September 1, 2016

a9s MongoDB for PCF is based on a9s MongoDB which began development in 2014. a9s MongoDB for PCF was tested on <a href="https://paas.anynines.com/" target="_blank">paas.anynines.com</a>. This
release is marked as BETA as it represents the first PCF release. The entire feature set of a9s MongoDB
will be added to the a9s MongoDB for PCF in subsequent releases as they require slight modifications.

Features included in this release:

* On-demand Service Instance Provisioning
* Service Instance Isolation
* High Availability
