---
title: MongoDB for Pivotal Platform Release Notes
owner: Partners
---

## Provided MongoDB Versions

MongoDB v3.4.17 and v3.6.8

## <a id="2-1-3"></a> v2.1.3

**Release Date:** September 6th, 2019

***Added***

- a9s MongoDB: Documentation on how to migrate MongoDB data between service instances,
- a9s Router: adds a9s Router service as a needed dependency for K8S deployments in future
- a9s Dashboard API: Add endpoint to prepare a disaster recovery for a given
  service instance.
- all services: a9s Deployer: Use deployment name to create and find a deployment.
- all services: a9s Backup Service: The metadata file is now encrypted and
  contains additional information about the service instance and the used
  filter_plugins in the a9s Backup Agent.
- a9s Backup Service: The backup create request now returns also the id of the backup.
  backup store

***Fixed***

- a9s MongoDB: graphite metrics: Use log level INFO for the MongoDB client
  in the Logstash metrics plugin.
- all services: a9s Service Dashboard API: Creation date of a backup in the
  restore view gets shown properly.
- all services: a9s Dashboard API: error message for encryption keys that are too short shows up again
- a9s MongoDB: a9s Backup Agent: Improves the MongoDB plugins for backup and restore
  to avoid leaving multiple dump directories consuming storage without being deleted
  or used.
- all services: a9s Dashboard App: Updates `lodash` to version `4.17.14` to
  resolve CVE.
- all services: a9s Service Dashboard: Updates `node` version to `10.16`.
- all services: a9s Backup Agent: Fix multipart upload.
- a9s SSO Proxy: Added OAuth usage for POST, PATCH, PUT and DELETE methods.
- all services: a9s Deployer: The a9s Deployer now properly catches and saves
  the return values from the BOSH Director in case the BOSH Task fails.
  Fetching instance information now properly returns the instance data with a
  `failed` status instead of `422`.
- a9s Backup Service: Fix migration of encryption key into a new column for
  shorter encryption keys than the current limit.
- a9s Backup Manager: Fix an issue where under special circumstances the backup
  encryption key is not stored in the database.
- a9s Backup Manager: Move database migration into a pre-start script to
  mitigate timeout issue with the start script.
- a9s Dashboard API: Replaced logger to redact sensitive data in logs.
- a9s SSO-Proxy: The SSO-Proxy application returns now the HTTP Code
  `401 unauthorized` if the CF Auth Token is expired or invalid.
- all services: a9s Dashboard API: solve open CVE by updating the corresponding
  libraries `eslint`, `shelljs`, `diff`, `express-basic-auth`, `lodash` and
  `growl`.

***Updated***

- Stemcell: Update to BOSH stemcell version 315.x.
- all services: a9s Service Broker: Using deployment name instead of deployment
  id for the communication with the a9s BOSH Deployer.
- all services: a9s BOSH Deployer: Use deployment names instead of deployment
  ids in the outdated endpoint.
- all services: a9s Service Dashboard: Replace AngularJS with React. In this
  context we improved the UI of the a9s Service Dashboard. Please refer to the
  [a9s Service Dashboard documentation](./a9s-service-dashboard.html)
  for more details.
- all services: a9s Service Dashboard: Per default deleted backups are not
  displayed in the a9s Service Dashboard anymore.
- all services: a9s Backup-Agent: Improve backup mechanism for backups bigger
  than 1 GB and improve restore.
- a9s PostgreSQL, a9s Elasticsearch, a9s RabbitMQ, a9s MongoDB: SPI: updates the behaviour of the SPI, if you added
  an intermediate certificate authority to a data service, the service instances will be updated with a certificate signed by
  that new CA on the next update operation. You can use the deployment updater to update existing service instances.
- all services: a9s Service Broker: The a9a Service Broker requests
  `available_updates` from the a9s Deployer only when the information is needed.

## <a id="2-1-2"></a> v2.1.2

**Release Date:** June 28, 2019

**Added**

* a9s Backup Manager: Adds a GUID to each instance in the Backup Manager
* a9s Service Broker: set the instance state to failed if an
  error is thrown during a provision job.
* a9s Service Broker: Deleted service plans no longer appear in

**Fixed**

* Fix possible time side channel vulnerability
* all service: Smoke Tests: Fix CVE in CF CLI
* a9s Service Broker: It's only possible to create new instances
  of active service plans. An active service plan is a service plan offering
  that is enabled in the Service Broker configuration.
  Instances which are already provisioned when a service plan will be disabled
  stay available.
* a9s Service Dashboard: Fixes issue with the dashboard when
  specifying point-in-time recovery manually.
* a9s Service Dashboard: solve
[CVE-2019-11358](https://nvd.nist.gov/vuln/detail/CVE-2019-11358) by updating
jquery to 3.4.1
* a9s Service Dashboard: solve
[CVE-2019-8331](https://nvd.nist.gov/vuln/detail/CVE-2019-8331) by updating
bootstrap to 4.3.1
* a9s Service Broker: Fixes an issue when deleting a service instance without
  a BOSH deployment.
* a9s Service Broker: fix error message wording
* Smoke-Tests: Fixes an issue when the CF password contains
  special characters.
* a9s Backup Manager: Fixes an issue with automated backups of all service
  instances.
* a9s Service Broker: Instances with credentials can now be deleted. Related
  credentials will be deleted accordingly.
* deployment-updater errand: The deployment-updater errand
  ignores now instances that have been deleted after the errand has been
  started.
* a9s Deployer: Fix bug where zombie processes can remain in the process list
  and block the VM.
* a9s Backup Manager: Fix a timing side channel vulnerability for the password
  comparison during authentication.
* a9s Service Broker: Broker does not create one log file for each operation.
  Previously these log files has not been deleted by log rotate since they
  never reached the configured size. This ended in a full disk because of a
  lot of small files.
* a9s Deployer: Does not force the deployment deletion if an error occured.
  Under certain circumstances, it was possible that orphaned deployments remain
  in the IaaS Layer if an error occured while deleting the deployment.
* a9s Deployment-Updater: Get operation during update of an
  instance and use it to get the current state. This is required because of
  the new async a9s Service Broker
* a9s Backup Manager: Fix that the backup job is creating multiple backup objects if some error
  occurs during the execution.
* a9s Service Broker: Fix database migration if service instances
  are being provisioned/updated during migration.
* a9s Deployer: BOSH client has no sufficient rights to read BOSH configs within Pivotal Platform.

**Updated**

* a9s Deployer: Remove obsolete BOSH Director UUID from templates.
* a9s Consul: set maximum number of open file descriptors to 64000.
* Service Dashboard: Optimize communication with a9s Service Broker
* a9s SPIs: Remove backtraces from error messages presented to
  users for example when a user provides invalid custom parameters
* a9s Service Broker: Optimized response times for provision and deprovision
  endpoints. Previously those requests could take longer than one minute
  causing timeouts in CF.
* SPIs: Use Ruby 2.4.5 to run web process.

## <a id="2-1-1"></a> v2.1.1

**Release Date:** March 20, 2019

**Added**

* a9s Backup Manager: Enable compression for backups. gzip is used for the
  compression.
* a9s Deployer: Add helper script
  /var/vcap/jobs/anynines-bosh-deployer/bin/rails_c to easily open Rails
  console.

**Updated**

* a9s Service Guard: Remove the App Restarter from a9s Service Guard manifest
  because the App Restarter is not usable with the current Cloud Foundry
  Diego cells.
* a9s Service Broker: Optimized response times for provision and deprovision
  endpoints. Previously those requests could take longer than one minute
  causing timeouts in CF.
* Service Dashboard: Optimize communication with a9s Service Broker.
* Logstash: Configure Logstash to watch the a9s Parachute path too.
* a9s Consul: Register consul agent as BOSH DNS handler entry instead of adding
  as resolver when using within Pivotal Platform tiles.
* Use timeout when connecting to service instances with the MongoDB SPI.
* all services: remove recreate and restart button from dashboard

**Fixed**

* a9s Service Broker: Fix database migration if service instances
  are being provisioned/updated during migration.
* a9s Service Broker: Broker does not create one log file for each operation.
  Previously these log files has not been deleted by log rotate since they
  never reached the configured size. This ended in a full disk because of a
  lot of small files.
* a9s Deployer: Does not force the deployment deletion if an error occured.
  Under certain circumstances, it was possible that orphaned deployments remain
  in the IaaS Layer if an error occured while deleting the deployment.
* all services: a9s Service Broker: set the instance state to failed if an
  error is thrown during a provision job.


## <a id="2-1-0"></a> v2.1.0

**Release Date:** March 6, 2019

* The consul domain can now be configured.
* The a9s BOSH DNS handler is added to make a9s service instances accessible
  from Diego cells.
* A backup option is added for a9s-pg.
* a9s MongoDB now supports instance sharing between orgs an spaces,
  see [documentation](https://docs.pivotal.io/pivotalcf/2-6/devguide/services/sharing-instances.html).
* Upgrades the stemcell to Ubuntu Xenial.

## <a id="2-0-2"></a> v2.0.2

**Release Date:** September 4, 2018

* On premise S3 endpoints for backup
* Adds default syslog and Graphite endpoints for service instances
* Compatible with Pivotal Platform v2.2 and later


## <a id="2-0-1"></a> v2.0.1

**Release Date:** July 12, 2018

* Adds Service Dashboard that allows the enduser to trigger and restore backups itself.
* Adds a9s MongoDB v3.4 and v3.6
* Allow plan updates from single to cluster plans
* Compatible to Pivotal Platform v1.12 and later


## <a id="1-1-0"></a> v1.1.0

**Release Date:** June 1, 2017

* Adds a Backup Manager that allows the creation of manual and automatic backups and manual recoveries.
* Adds a Service Guard that creates security groups for your instance.

Known issues in this release:

* Failed backups with empty configuration — The Backup Manager schedules backups even when its settings are left empty and these backups are displayed as “failed” in the Backup Manager API.


## <a id="1-0-1"></a> v1.0.1

**Release Date:** April 20, 2017

* Adds icon for Apps Manager.


## <a id="1-0-0"></a> v1.0.0

**Release Date:** March 14, 2017

Features included in this release:

* Removed stemcell from tile to the a9s Bosh for Pivotal Platform tile
* Remove restriction to have three AZs configured in the a9s Bosh for Pivotal Platform


## <a id="0-10-0"></a> v0.10.0

**Release Date:** January 13, 2017

* Service Instance Plan Upgrade
* Logging and Monitoring


## <a id="0-9-2"></a> v0.9.2

**Release Date:** November 18, 2016

*  Adds a smoke tests errand. See [Configure BOSH Errands](./installing.html#errands) for more information.


## <a id="0-9-1"></a> v0.9.1

**Release Date:** October 17, 2016

* Fixed a bug related to service deletion.


## <a id="0-9-0"></a> v0.9.0

**Release Date:** September 1, 2016

a9s MongoDB for Pivotal Platform is based on a9s MongoDB which began development in 2014. a9s MongoDB for Pivotal Platform was tested on [paas.anynines.com](https://paas.anynines.com/). This release is marked as BETA as it represents the first Pivotal Platform release. The entire feature set of a9s MongoDB will be added to the a9s MongoDB for Pivotal Platform in subsequent releases as they require slight modifications.

Features included in this release:

* On-demand service instance provisioning
* Service instance isolation
* High availability
