---
title: a9s MongoDB for PCF Release Notes
owner: Partners
---

### v0.9.0

**Release Date:** September 1, 2016

a9s MongoDB for PCF is based on a9s MongoDB which began development in 2014. a9s MongoDB for PCF was tested on <a href="https://paas.anynines.com/" target="_blank">paas.anynines.com</a>. This
release is marked as BETA as it represents the first PCF release. The entire featureset of a9s MongoDB
will be added to the a9s MongoDB for PCF in subsequent releses as they require slight modifications.

Features included in this release:

* On-demand Service Instance Provisioning
* Service Instance Isolation
* High Availability

### v0.9.1

**Release Date:** Oktober 17, 2016

* Fixed a bug related to service deletion.

### v0.9.2

**Release Date:** November 18, 2016

*  Added a smoke tests errand. See <a href="/a9s-mongodb-for-pcf/installing.html#errands" target="_blank">the errands chapter</a> for more information.


### v0.10.0+ (Upcoming)

* On-demand Encrypted Remote Connectivity
* Service Instane Capacity Upgrade
* Logging and Monitoring
