---
title: MongoDB for PCF Release Notes
owner: Partners
---

These are release notes for MongoDB.

## <a id="2-0-2"></a> v2.0.2

**Release Date:** August 30, 2018

* On premise S3 endpoints for backup
* Added default syslog and grpahite endpoints for service instances.
* Compatible with PCF v2.2 and above


## <a id="2-0-1"></a> v2.0.1

**Release Date:** July 12, 2018

* Added Service Dashboard that allows the enduser to trigger and restore backups itself.
* Added a9s MongoDB v3.4 and v3.6
* Allow plan updates from single to cluster plans
* Compatible to PCF v1.12 and above


## <a id="1-1-0"></a> v1.1.0

**Release Date:** June 1, 2017

* Added a Backup Manager that allows the creation of manual and automatic backups and manual recoveries.
* Added a Service Guard that creates security groups for your instance.

Known issues in this release:

* Failed backups with empty configuration — The Backup Manager schedules backups even when its settings are left empty and these backups are displayed as “failed” in the Backup Manager API.


## <a id="1-0-1"></a> v1.0.1

**Release Date:** April 20, 2017

* Added icon for Apps Manager.


## <a id="1-0-0"></a> v1.0.0

**Release Date:** March 14, 2017

Features included in this release:

* Removed stemcell from tile to the a9s Bosh for PCF tile
* Remove restriction to have three AZs configured in the a9s Bosh for PCF


## <a id="0-10-0"></a> v0.10.0

**Release Date:** January 13, 2017

* Service Instance Plan Upgrade
* Logging and Monitoring


## <a id="0-9-2"></a> v0.9.2

**Release Date:** November 18, 2016

*  Added a smoke tests errand. See [Configure BOSH Errands](./installing.html#errands) for more information.


## <a id="0-9-1"></a> v0.9.1

**Release Date:** October 17, 2016

* Fixed a bug related to service deletion.


## <a id="0-9-0"></a> v0.9.0

**Release Date:** September 1, 2016

a9s MongoDB for PCF is based on a9s MongoDB which began development in 2014. a9s MongoDB for PCF was tested on [paas.anynines.com](https://paas.anynines.com/). This release is marked as BETA as it represents the first PCF release. The entire feature set of a9s MongoDB will be added to the a9s MongoDB for PCF in subsequent releases as they require slight modifications.

Features included in this release:

* On-demand service instance provisioning
* Service instance isolation
* High availability
